body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: rgb(170, 192, 234);
  color: white;
}

.intro {
  background-color: tomato;
  width: 360px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 26px 20px;
  background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);
  color: #fff;

}


header .logo {
  font-size: 1.5em;
}

header nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

header nav ul li {
  margin: 0 10px;
}

header nav ul li a {
  text-decoration: none;
  color: #fff;
}

#hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-size: contain;
  align-items: center;
  text-align: center;
  height: 100vh;
  background: url('https://tenor.com/view/lil-kirby-spin-kirby-kirby-spin-lil-guy-gif-4352628918301616248.gif') no-repeat center center/cover;
  color: #fff;
  background-attachment: fixed; 
 

}

#hero + section {
  margin-top: 200px; 
  
}

#hero h1 {
  font-size: 3em;
  margin: 0.5em 0;
}

.coe {
  background-color:rgb(246, 192, 233);
}

#hero button {
  padding: 10px 20px;
  background-color: #fff;
  border: none;
  cursor: pointer;
  font-size: 1em;
  transition: background-color 0.3s;
}

#hero button:hover {
  background-color: #ddd;
}

section {
  padding: 50px 20px;
}

#projects .project {
  border: 1px solid #ddd;
  padding: 20px;
  margin: 10px 0;
}

footer {
  text-align: center;
  padding: 20px;
  background-color: #222;
  color: #fff;
}

.foot {
  background-color: rgb(34, 34, 34);

}